# --- Django Core & API ---
Django==5.2.8
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
crispy-tailwind==1.0.3

# --- Database ---
# Nếu dùng PostgreSQL (khuyên dùng cho production)
psycopg2-binary==2.9.11
dj-database-url==3.0.1

# --- Utilities ---
python-dotenv==1.1.0
requests==2.32.5
pytz==2025.2
pillow==12.0.0

# --- Excel Processing (Dùng trong apps/buildings/views.py) ---
pandas==2.3.3
openpyxl==3.1.5
numpy==2.3.5

# --- Push Notification (Dùng trong apps/notifications) ---
exponent_server_sdk

# --- Barcode/QR (Giữ lại phòng khi dùng cho Resident/Building) ---
qrcode==7.4.2
python-barcode==0.15.1

# --- Server (Production) ---
gunicorn==23.0.0
whitenoise==6.7.0