.custom-search-dropdown {
    position: absolute;
    background: white;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 6px;
}
.custom-search-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}
.custom-search-item:hover {
    background-color: #f3f3f3;
}
.custom-search-item strong {
    color: #98221F
;
}
