{% extends "base.html" %}
{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <div class="card shadow">
        <div class="card-header bg-primary text-white"><h5>Chỉnh sửa Ca trực</h5></div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
                    <a href="{% url 'operation:shift_list' %}" class="btn btn-light">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}